<a href="https://colab.research.google.com/github/jjiguaran/text_mining/blob/master/individual_versions/Topics_noticias_reddit_edgar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importar librerias
import pandas as pd

# import tensorflow as tf

In [2]:
#Importar los datasets
url_reddit = 'https://raw.githubusercontent.com/jjiguaran/text_mining/master/Data/RedditNews.csv'
url_combined = 'https://raw.githubusercontent.com/jjiguaran/text_mining/master/Data/Combined_News_DJIA.csv'
RedditNews = pd.read_csv(url_reddit)
CombinedNews = pd.read_csv(url_combined)


RedditNews['Date'] =  pd.to_datetime(RedditNews['Date'], format='%Y-%m-%d')
CombinedNews['Date'] =  pd.to_datetime(CombinedNews['Date'], format='%Y-%m-%d')

In [3]:
# Exploramos redditnews
RedditNews.head()

        Date                                               News
0 2016-07-01  A 117-year-old woman in Mexico City finally re...
1 2016-07-01   IMF chief backs Athens as permanent Olympic host
2 2016-07-01  The president of France says if Brexit won, so...
3 2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4 2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [4]:
# Exploramos combinedNews
CombinedNews.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

Comparar los días con noticias entre datasets

In [5]:
## No hay la misma cantidad de días en cada dataset
display(
    CombinedNews['Date'].nunique(),
    RedditNews['Date'].nunique() )

1989

2943

In [6]:
## Nos quedamos con las fechas del dataset que está etiquetado
RedditNews = RedditNews[RedditNews['Date'].isin(CombinedNews['Date'])]

display(
    CombinedNews['Date'].nunique(),
    RedditNews['Date'].nunique() )

1989

1989

Analizar la distribución de clases

In [7]:
# ## Distribución de clases
# import seaborn as sns

# display( CombinedNews.groupby(['Label'])['Date'].agg(['count']))
# sns.countplot(x='Label', data=CombinedNews)

Analizar cantidad de noticias, pueden haber días sin el todo el top 25

In [8]:
## Ver si hay días que no tienen 25 noticias 
nulls_by_col = CombinedNews.isnull().sum().reset_index()
nulls_by_col[nulls_by_col[0]>0]

    index  0
24  Top23  1
25  Top24  3
26  Top25  3

In [9]:
CombinedNews[pd.isnull(CombinedNews['Top25'])]
## 3 días no tienen ni top 24 ni top 25, y uno de esos tampoco tiene top 23

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
277,2009-09-15,1,b'The Church of Scientology won\'t be dissolve...,b'New virus from rats can kill 80 per cent of ...,b'The gruesome spectacle of dolphins being sla...,b'The End of Innocence in Afghanistan: \'The G...,b'France approves Internet piracy bill',b'The Rural Doctors Association says right now...,b'Al Jazeera English - Africa - Shabab to aven...,"b""How Sri Lanka governs through detentions - S...",...,b'In an equine echo of the controversy surroun...,b'UPDATE: 5-New York homes raided in terrorism...,b'Population Growth Impeding Progress on the M...,b'Global Population to Reach 7 Billion by 2011',b'Government Funded Feminist Porn ',b'Can someone enlighten me re:Holy Land disput...,b'Human Rights Watch official suspended for co...,NaN,NaN,NaN
348,2009-12-24,1,b'Woman knocks down Pope Benedict at Christmas...,b'Ugandan President Museveni says he will bloc...,"b""Venezuela's Chavez threatens to kick out car...",b'Woman who knocked down pope had pasta in her...,"b'450 people from 21 countries, including 30 f...",b'Chvez declares Angel Falls is no more: World...,b'Drug tests catch out 10 police (UK)',"b'Once the worlds fourth-largest lake, the Ara...",...,b'Pig farts spark Australia gas scare - I shit...,b'Bin Laden daughter flees to Saudi embassy in...,b'Traumatic Brain Injuries: Growing evidence ...,b'The Pakistan Supreme Court has ordered the P...,"b""Here's a video the Taliban released this mor...",b'Fireworks set off aboard airliner',"b'Five VA men may face terrorism charges, Paki...","b""Ayatollah Montazeri's Legacy: In death he m...",NaN,NaN
681,2011-04-21,1,"Director of ""Restrepo"" and Photographer Chris ...",Everyone within 20km of Fukushima will be forc...,Bahrain: Activist Zaynab Al-Khawaja's letter t...,"More than 80,000 people are claiming incapacit...",Libya: 'mission creep' claims as UK sends in m...,Japan considers banning access to evacuation zone,Chinese oil giant Sinopec has stopped exportin...,6.0-magnitude earthquake strikes off east coas...,...,Russian migration official fired in racism row...,Small amounts of radioactive iodine found in b...,"War photographer, Oscar-nominated film directo...",Effeminate boys are being sent to a special ca...,Japan Government Declares 12-Mile Area Around ...,TEPCO admitted Wednesday that nuclear fuel in ...,Fukushima evacuees face arrest if they return ...,Prince Charles wins some kind of a record,NaN,NaN

In [10]:
## Vamos a comprobar que en el el dataset que están todas las noticias se tenga el mismo numero
news_by_day = RedditNews.groupby(['Date']).agg('count')
news_by_day[news_by_day['News']!=25]

            News
Date
2009-09-15    22
2009-12-24    23
2011-04-21    23

Añadir el numero del top correspondiente a las noticias, y la etiqueta del día

In [11]:
## Añadir columna del top correspondiente
RedditNews['Top'] = RedditNews.groupby(['Date']).cumcount()+1

## Añadir columna de la clase a este df
RedditNews = pd.merge(RedditNews, CombinedNews[['Date','Label']], on=['Date'])

RedditNews[RedditNews['Date']=='2016-07-01']

         Date                                               News  Top  Label
0  2016-07-01  A 117-year-old woman in Mexico City finally re...    1      1
1  2016-07-01   IMF chief backs Athens as permanent Olympic host    2      1
2  2016-07-01  The president of France says if Brexit won, so...    3      1
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...    4      1
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...    5      1
5  2016-07-01  Brazil: Huge spike in number of police killing...    6      1
6  2016-07-01  Austria's highest court annuls presidential el...    7      1
7  2016-07-01  Facebook wins privacy case, can track any Belg...    8      1
8  2016-07-01  Switzerland denies Muslim girls citizenship af...    9      1
9  2016-07-01  China kills millions of innocent meditators fo...   10      1
10 2016-07-01  France Cracks Down on Factory Farms - A viral ...   11      1
11 2016-07-01  Abbas PLO Faction Calls Killer of 13-Year-Old ...   12      1
12 2016-07-01  Taiwanese warship accidentally fires missile t...   13      1
13 2016-07-01  Iran celebrates American Human Rights Week, mo...   14      1
14 2016-07-01  U.N. panel moves to curb bias against L.G.B.T....   15      1
15 2016-07-01  The United States has placed Myanmar, Uzbekist...   16      1
16 2016-07-01  S&amp;P revises European Union credit rating t...   17      1
17 2016-07-01  India gets $1 billion loan from World Bank for...   18      1
18 2016-07-01  U.S. sailors detained by Iran spoke too much u...   19      1
19 2016-07-01  Mass fish kill in Vietnam solved as Taiwan ste...   20      1
20 2016-07-01  Philippines president Rodrigo Duterte urges pe...   21      1
21 2016-07-01  Spain arrests three Pakistanis accused of prom...   22      1
22 2016-07-01  Venezuela, where anger over food shortages is ...   23      1
23 2016-07-01  A Hindu temple worker has been killed by three...   24      1
24 2016-07-01  Ozone layer hole seems to be healing - US &amp...   25      1

Limpieza de los datos

In [12]:
## Hay error en la codificación de caracteres especiales, encontré ese, pero hay que ver que otros surgen
RedditNews['News'] = RedditNews['News'].str.replace("year.old", " year old ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("\d year", " year ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("year old", "years old", regex=True)


RedditNews['News'] = RedditNews['News'].str.replace("years.old", " years old ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("\d years", " years ", regex=True)

In [13]:
## Hay error en la codificación de caracteres especiales, encontré ese, pero hay que ver que otros surgen
index_review = RedditNews[(RedditNews['News'].str.startswith('b"')) |
                         (RedditNews['News'].str.startswith("b'"))].index

display(RedditNews[RedditNews['News'].str.startswith('b"')].head(),
        RedditNews[RedditNews['News'].str.startswith("b'")].head())


RedditNews['News'] = RedditNews['News'].str.replace('^b\"', " ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("^b\'", " ", regex=True)


# \\r\\

# (thousand|million|billion|thousands|millions|billions) of{0,1} dollars

,Date,News,Top,Label
37798,2010-06-30,"b""South Korea's parliament votes to legalize c...",1,0
37804,2010-06-30,"b""The German economy is rapidly improving, wit...",7,0
37819,2010-06-30,"b""BBC News - Russian spy suspect missing in Cy...",22,0
37821,2010-06-30,"b""Iraq inquiry: secret documents showing Tony ...",24,0
37822,2010-06-30,"b""Apartheid loves apartheid: Israel's secret r...",25,0

,Date,News,Top,Label
37799,2010-06-30,b'Pope rebukes cardinal who exposed abuse: \nP...,2,0
37800,2010-06-30,b'This depression is similar to the Great Pani...,3,0
37801,2010-06-30,b'The Niger Delta has experienced oil spills o...,4,0
37802,2010-06-30,b'G20 Toronto - So Black Block get green light...,5,0
37803,2010-06-30,b'Half of Afghanistans 476 women prisoners wer...,6,0

In [14]:
RedditNews[(RedditNews['News'].str.lower().str.contains('euros', regex=True))]['News'].values

array(['Google (GOOGL.O) faces a record antitrust fine of around 3 billion euros ($3.4 billion) from the European Commission in the coming weeks, British newspaper The Sunday Telegraph said. The European Union has accused Google of promoting its shopping service in Internet searches',
       'European Commission says EU states refusing to take refugees will have to pay 250,000 euros per person',
       "Two members of French far-right leader Marine Le Pens entourage moved hundreds of thousands of euros by way of offshore companies in recent years, according to France's daily Le Monde",
       'France seeks 1.6 billion euros in back taxes from Google',
       'People-smuggling gangs netted up to 6 billion euros ($6.6 billion) last year, most of it from the traffic of migrants into Europe.',
       'Smokers in Italy hit with new fines to protect the young: Smokers in Italy are now facing fines of up to 500 euros ($600) if they light up in a car with a child or pregnant woman, or if they toss a cigarette butt on the street',
       'German states to spend around 17 billion euros on refugees in 2016',
       'Belgium Tells Facebook to Stop Storing Data From Non-Users - Facebook faces a fine of 250,000 euros ($269,000) a day if it doesnt comply',
       'City officials have suspended the mayor of Bucharest who is under arrest on suspicion of taking bribes worth 25,000 euros ($28,000) from companies working for the city hall.',
       'Hundreds of Eurostar passengers stranded by migrants trying to get through tunnel',
       'If We Rescued the Banks We Can Save Refugees, Merkel Says.Chancellor Angela Merkel said Germany must respond to the European refugee crisis with the same resolve it showed in rescuing banks and her government will spend billions of euros to handle the tide of migrants.',
       'Germany, which has taken a tough line on Greece, has profited from the country\'s crisis to the tune of 100 billion euros, according to a new study Monday. The sum represents money Germany saved through lower interest payments on funds the government borrowed amid investor "flights to safety"',
       "Despite deep cuts to public services and welfare, the UK's 650 MPs are to see their annual pay rise to the equivalent of 106,000 euros.",
       'Greece, which may default on an International Monetary Fund debt repayment due on Tuesday after talks with creditors broke down, owes its official lenders 242.8 billion euros ($271 billion), according to a Reuters calculation based on official data.',
       "IKEA, the world's biggest furniture retailer, plans to spend 1 billion euros ($1.13 billion) on renewable energy and steps to help poor nations cope with climate change, the latest example of firms upstaging governments in efforts to slow warming.",
       "Ukraine's traffic police director steps down after an investigation reveals monthly salary of 1,000 euros - yet his family enjoys Porches worth $400,000",
       'Former chief of France\'s far-right Front National, Jean-Marie Le Pen, hid 2.2 mn euros in Swiss account: Le Pen "kept a hidden account at HSBC, as well as the (private Swiss) CBH bank through a trust placed under the legal responsibility of his butler, Gerald Gerin," the investigative website said.',
       "Lufthansa To Immediately Compensate Germanwings Flight 9525 Victim's Families Up To 50,000 Euros",
       "As many as 15 attackers have stolen millions of euros' worth of jewels from two high security vans at a French motorway toll booth",
       'The HSBC bank is accused of systematic involvement in tax evasion and money laundering to the tune of more than 100 billion euros.',
       "McDonald's accused of avoiding 1 billion euros in taxes in Europe",
       'Greek MP says he was offered 2 to 3 million euros to vote for Greek president. I had two meetings that were recorded. They gave me 700,000 euros in cash as a first installment and following this an agreement for bank loans, as well as contracts with an ad agency',
       "Belarussian President Demands Russia Trade Be Carried Out in Dollars, Euros: Belarussian President Alexander Lukashenko has demanded that Belarus's transactions with Russia be settled in dollars or euros because of the slump in the value of Russia's ruble",
       'Russians hurried to change their savings and pensions into dollars and euros while also stocking up on furniture and jewellery as the rouble\'s collapse accelerated | "None of us know what\'s happening. We\'re all worried that the currency will keep falling"',
       'Uber, the U.S. online ride-hailing service, has been banned from offering service in the Netherlands. Uber could be fined up to 100,000 euros ($122,000), while drivers could face fines of 10,000 euros, the court found.',
       "Vatican finds hundreds of millions of euros 'tucked away': cardinal",
       'Italy seizes assets of Putin ally and judo partner Rotenberg worth 30 million euros, including a hotel in the centre of Rome',
       'France faces huge Mistral bill for halting Russia deal: The decision to suspend delivery of a Mistral naval assault ship to Russia risks costing France at least 1bn euros (800m), officials say.',
       "Polish MPs ridicule Cameron's 'stupid propaganda' aimed at Eurosceptics",
       'Greece sues for 7 billion euros over German submarines that have never sailed',
       "Turkey ordered to pay 90m Euros compensation to Cyprus - Turkey refuses as they do not 'formally recognise Cyprus as a country'.",
       'Court orders Turkey to pay Cyprus over invasion: Europes top human rights court on Monday ordered Turkey to pay 90 million euros ($123 million) to Cyprus over the 1974 invasion of the island and its subsequent division, in one of the largest judgments in its history.',
       'Spains Robin Hood takes from the banks and gives to the disenfranchised - They call him the Robin Hood of the banks, a man who took out dozens of loans worth almost half a million euros with no intention of ever paying them back.',
       'A senior Italian cleric has been charged with laundering millions through the Vatican bank. He is already on trial and under house arrest on separate charges of plotting to smuggle 20m euros into Italy. The former Vatican accountant and two other people were served with arrest warrants on Tuesday',
       'Neurosurgeons from Poland transplanted nerve cells taken from the nose of man that had his spinal cord injured. He can move his legs now. (Google translate)',
       'European Commission fines eight banks a total of 1.7bn euros for forming illegal cartels to rig interest rates',
       'The European Court of Human Rights has ordered Turkey to pay 2.3 million euros to victims of the bombing of two Kurdish villages in 1994.  Turkey was found guilty of the attack, having blamed it on Kurdish separatists.',
       "Scientology's fraud conviction upheld in France... top appeals court has upheld a fraud conviction and fines totalling hundreds of thousands of euros against the Church of Scientology, for taking advantage of vulnerable followers",
       'EU says Palestinian Authority lost 2.5 billion euros of aid over the last four years',
       'Greek woman who went to Golden Dawn neo-Nazi group for support speaks up. "They talked of beating up gay and dark-skinned people. A party member came to visit me. He offered to break someone\'s arm and leg for 300 euros. Ignite a car for 1,000 euros. Hospitalize someone for a month for 1,500 euros."',
       'For some two decades, major German breweries have allegedly been fixing beer prices, according to a media report this week. They now face hundreds of millions of euros in fines.',
       'Monkey-christ fresco painter Cecilia Gimenez raises 50,000 euros for charity by charging entry to the church in which her "restored" fresco is displayed',
       'Germany owes us 162-billion euros in war damages, say Greeks | World | News',
       'Pirates of the Caribbean: Global Resistance to Tax Havens Grows - Tax havens cause hundreds of millions of euros in annual damage to national economies around the world and they create an uncontrollable parallel economy.',
       "Spain's Princess Cristina has been summoned to appear in court over allegations that her husband misused millions of euros of public money.",
       'A neuroscience arms race The increasingly lucrative field of brain research and the politics behind it',
       'Cyprus Limits ATM Withdrawals to 100 Euros Per Day',
       'Euros discarded as impoverished Greeks resort to bartering',
       'Controversial surgery in China for addiction burns away brain\'s pleasure center: By destroying parts of the brain\'s "pleasure centers" in heroin addicts and alcoholics, these Chinese neurosurgeons hope to stop drug cravings',
       'Frenchwoman gets phone bill for 11,721,000,000,000,000 euros',
       'Ikea brand sold for 75 billion kronor (9 billion+ Euros) - The Local',
       'Brazilian farmers sue Monsanto: Five million farmers are locked in a lawsuit with US-based biotech giant, suing for as much as 6.2 billion euros',
       'Dutch Pirate Party ordered to shut down Pirate Bay proxy within 6 hours, or face a fine of 10,000 euros per day.',
       'Spain Is on the Bleeding Edge of a New European Crisis: Spains 709 billion euros of sovereign debt is roughly twice that of Greece, Ireland, and Portugal combined',
       'Germany earned 380 million euros in interest on the loans it paid to Greece so far',
       'Last Monday, in a national TV interview, the candidate that public opinion polls have leading the French presidential race called for a 75 percent super tax on all individual income over $1 million euros, the equivalent of about $1.33 million.\r\n\r\n \r\n',
       "Overfishing of EU fisheries is costing 2.7bn (3.2bn euros) a year &amp; 100,000 jobs - 1/3 of Britain's fish consumption could be met if stocks were allowed to recover.  But separate research shows 1/2 of fishermen wouldn't be willing to give up their livelihoods.",
       'France Easily Sells Bonds as Sarkozy Attacks S&amp;P - It was almost like Standard &amp; Poors stripping France of its AAA credit rating never happened.   Paris was able to sell almost 8 billion euros worth &amp; offered a lower rate of interest to investors than before.',
       "Greeks pull savings from banks as crisis deepens - Greeks withdrew as much as 5 billion euros -- nearly 3 percent of total deposits -- after outgoing Prime Minister George Papandreou's shock call last week for a referendum on a euro zone bailout, said one banker, who declined to be named.",
       'The artist Ai Wei Wei has been ordered to pay a fine of 1.6 million euros. To show their solidarity, people in China and elsewhere have made donations that have added up to a six-figure sum in just three days. ',
       'Germany Has 5 Trillion Euros of Hidden Debt, Handelsblatt Says',
       'Hungarian toxic chemical sludge spill firm fined:  An aluminium producer in Hungary has been fined 472m euros ($646m) over a spillage of toxic sludge last year.',
       'On World Youth Day visit, pope urges Spain to preserve Christian roots: The pope arrived in the Spanish capital Thursday, after thousands turned out in Madrid to protest the tax-payer funded visit, which is estimated to cost taxpayers millions of euros.',
       "The Dutch government has released 100 million euros in frozen assets from Moammar Gadhafi's regime to the World Health Organization. The funds will buy medical supplies for victims of the ongoing conflict in Libya.",
       'French company fined 25,000 euros for altering Wikipedia article of its competitor; they tracked the company based on the IP address of the submission\r\n',
       'France to invest one billion euros in nuclear power ',
       'Greece Back on the Brink --- Greece needs even more money -- EU officials estimate that a new bailout will cost over 100 billion euros rather than the previously assumed 60 billion.  The economy is shrinking, and ambitious privatization plans are illusory.',
       "Russia Bans Fresh Vegetables from EU because of growing E. coli outbreak in Germany - Spain's farmers lose millions of euros",
       '"Osama bin Laden had cash totaling 500 Euros and two telephone numbers sewn into his clothing when he was killed -- sure signs that he was prepared to flee his compound at a moment\'s notice"',
       'A FINNISH EUROSCEPTIC party that opposed immigration, the Euro, and bailouts for struggling European countries has won a fifth of votes in the countrys general election.',
       'Portuguese Prime Minister Jose Socrates has been insisting for months that he would not ask the EU for help. But on Wednesday he announced he was doing just that, after bond yields reached an unsustainable level. The bailout could amount to as much as 80 billion euros.',
       'A Paris court has said Continental Airlines was "criminally responsible" for the crash of a Concorde supersonic jet 1 year s ago, and fined it 200,000 euros (170,000).',
       "Rogue Trader Jerome Kerviel, sentenced to five years in jail for losing almost 5 billion euros of his employer's money - \r\n'I Was Merely a Small Cog in the Machine'",
       'Former Societe Generale trader Jerome Kerviel was found guilty of breach of trust by a Paris court on Tuesday for his role in a trading scandal that cost the bank close to 5 billion euros ($7 billion).',
       'A "rogue trader" must pay back 4.9 billion euros in damage for illicit trading to his former employer, the French bank Socit Gnrale... A perfect scapegoat was found, I guess we can all go grab our sticks and pitchfork and start blaming traders again...',
       "During the worst of the global financial meltdown, Berlin pumped tens of billions of euros into the economy and spent hundreds of billions propping up German banks. Now, the country is reaping the benefits as Germany is once again Europe's economic motor.",
       " Greece might need up to 120 Billion Euros, according to German parliamentarians.'",
       ' Saddam Hussein\'s shift to petro-euros was a reason the US attacked Iraq. Is this why Iran will be attacked? "',
       " Israel to seek another 1b euros Holocaust in reparations from Germany (The gift that keeps giving...)'",
       " Four Eurostar trains stuck in Channel tunnel'",
       " The Roman Catholic order of Christian Brothers, once the largest provider of residential care for boys in Ireland, has offered a payout of 161 million euros ($240 million) in compensation, drawing harsh criticism from a group called the Irish Survivors of Child Abuse.'",
       " EU taxpayers funded a custom-built 276,000 euros (250,000) shower for French President Nicolas Sarzoky, auditors say - but he never used it.'",
       " A Paris court on Tuesday convicted the Church of Scientology of fraud and fined it more than half a million euros  but stopped short of banning the group as requested by prosecutors.'",
       ' Pensioners kidnapped and tortured a financial advisor because he lost 2million of their savings. The angry pensioners, aged between 60 and 79, had apparently invested 2.4m euros (2m) in Mr Amburn\'s company, which he used to buy property in Florida."',
       " Eurosceptic and climate change sceptic becomes EU President'",
       " Georgia, Bulgaria and the Second Balkan War | afoe | A Fistful of Euros | European Opinion'"],
      dtype=object)

In [15]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stoplist = stopwords.words("english")
REPLACE_BY_SPACE_RE = re.compile('[(){}\[\]\|@,;-]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z ^#\+_]')
SEP_NUMBER = re.compile('(?<=\d)\,|\.(?=\d)')
USA_ABREV = re.compile('U\.S|u\.s\|u\.s\.a\.|US')
DOT_ABREV = re.compile('\.(?![a-zA-Z]{2})')
STARTING_B = re.compile("^\"b' |^b ")
STOPWORDS = stopwords.words('english')

def clean_text(text):
    """
        text: a string
        return: modified initial string
    """
    
    text = USA_ABREV.sub(' usa ', text) # replace U.S U.S. u.s US for usa
    text = text.lower() # lowercase text
    text = text.replace("al-qaeda", "alqaeda")
    text = text.replace("al-qa'eda", "alqaeda")
    text = text.replace('&amp;', '&')
    text = text.replace('&', '')    

    text = DOT_ABREV.sub('', text) # removes abrevetion dot, ej: L.G.B.T  = LGBT
    text = SEP_NUMBER.sub('', text) # removes . and , seprating numbers
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub(' ', text) # delete symbols which are in BAD_SYMBOLS_RE from text
    text = STARTING_B.sub('', text) # delete symbols which are in BAD_SYMBOLS_RE from text

    text = text.replace('years old', ' age ')

    text = ' '.join(word for word in text.split() if word not in STOPWORDS) # delete stopwors from text
    text = text.strip()
    return text
    
RedditNews['News'] = RedditNews['News'].apply(clean_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Ed\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [16]:
## Acá se ven corregidos ya
RedditNews = RedditNews.groupby(['Date','Label'])['News'].apply(' '.join).reset_index()
RedditNews[RedditNews['Date']=='2016-07-01']['News'].values

RedditNews.head()

        Date  Label                                               News
0 2008-08-08      0  georgia downs two russian warplanes countries ...
1 2008-08-11      1  wont america nato help us wont help us help ir...
2 2008-08-12      0  remember adorable 9 age sang opening ceremonie...
3 2008-08-13      0  usa refuses israel weapons attack iran report ...
4 2008-08-14      1  experts admit legalise drugs war south osetia ...

Un ejemplo de RASA

In [17]:
# # import sys
# # python = sys.executable

# # # In your environment run:
# !pip install -U rasa_nlu[spacy];

# # # as well as install a language model:
# # !{python} -m spacy download en_core_web_md
# # !{python} -m spacy link en_core_web_md en --force;
# !python -m spacy download en_core_web_sm

In [18]:
import rasa.nlu
import rasa.core
import spacy

print("rasa_nlu: {} rasa_core: {}".format(rasa.nlu.__version__, rasa.core.__version__))
print("Loading spaCy language model...")
print(spacy.load('en_core_web_sm')("Hello world!"))

rasa_nlu: 1.9.6 rasa_core: 1.9.6
Loading spaCy language model...
Hello world!

In [19]:
train = RedditNews[RedditNews['Date']<='2014-12-31']
test = RedditNews[RedditNews['Date']>'2014-12-31']
print(test.shape)

(378, 3)

In [20]:
train.head()

        Date  Label                                               News
0 2008-08-08      0  georgia downs two russian warplanes countries ...
1 2008-08-11      1  wont america nato help us wont help us help ir...
2 2008-08-12      0  remember adorable 9 age sang opening ceremonie...
3 2008-08-13      0  usa refuses israel weapons attack iran report ...
4 2008-08-14      1  experts admit legalise drugs war south osetia ...

In [21]:
# from google.colab import drive
# drive.mount('/drive')

In [22]:

with open('train.md', 'w') as f:
    print('', file = f)
    print( '##', 'intent:increase', file=f)
    for row in train[train['Label']==1]['News'].head(10000).values:
        print('-',row, file=f)
        
    print('', file = f)
    print( '##', 'intent:decrease', file=f)
    for row in train[train['Label']==0]['News'].head(10000).values:
        print('-',row, file=f)

    print('', file = f)
    print( '##', 'lookup:money', file=f)
    print('- dollars' , file=f)
    print('- euros' , file=f)

In [23]:

with open('test.md', 'w') as f:
    print('', file = f)
    print( '##', 'intent:increase', file=f)
    for row in test[test['Label']==1]['News'].head(1000).values:
        print('-',row, file=f)
        
    print('', file = f)
    print( '##', 'intent:decrease', file=f)
    for row in test[test['Label']==0]['News'].head(1000).values:
        print('-',row, file=f)

In [24]:
# config = """
# language: "en_core_web_sm"

#  # splits the words into tokens using whitespace
# - name: "tokenizer_whitespace"                    
# # uses the pretrained spacy NER model(Entity Extraction)
# - name: "ner_crf"                                
# # Maps synonymous entity values to the same value.
# - name: "ner_synonyms"
# # Creates a bag-of-words representation of intent features                            
# - name: "intent_featurizer_count_vectors"         
# # Embedding intent classifier
# - name: "intent_classifier_tensorflow_embedding"

# """ 
# with open('config.yml', 'w') as the_file:
#     the_file.write(config)
# # %store config > config.yml

In [25]:
config = """
language: "en_core_web_sm"

pipeline:
- name: "SpacyNLP"
- name: "SpacyTokenizer"
- name: RegexFeaturizer
- name: "SpacyEntityExtractor"
  # dimensions to extract
  dimensions: ["PERSON", "LOC", "ORG", "PRODUCT","PERCENT","MONEY","EVENT","GPE","NORP","PER"]

- name: "SpacyFeaturizer"
  # Specify what pooling operation should be used to calculate the vector of
  # the __CLS__ token. Available options: 'mean' and 'max'.
  pooling: "mean"
  
- name: CountVectorsFeaturizer
  analyzer: "word"
  min_df: 10
  stop_words: "english"
- name: DIETClassifier
  epochs: 300
  batch_size: 10
  random_seed: 10291
  entity_recognition: False
""" 
    
    
with open('config.yml', 'w') as the_file:
    the_file.write(config)
# %store config > config.yml

In [ ]:
from rasa.nlu.training_data import load_data
from rasa.nlu.config import RasaNLUModelConfig
from rasa.nlu.model import Trainer
from rasa.nlu import config

# loading the nlu training samples
training_data = load_data("train.md")

# trainer to educate our pipeline
trainer = Trainer(config.load("config.yml"))

# train the model!
interpreter = trainer.train(training_data)

# store it for future use
model_directory = trainer.persist("./models/nlu", fixed_model_name="current")

C:\Users\Ed\AppData\Roaming\Python\Python37\site-packages\rasa\nlu\featurizers\sparse_featurizer\regex_featurizer.py:79: FutureWarning: Directly including lookup tables as a list is deprecated since Rasa 1.6.
  regex_pattern = self._generate_lookup_regex(table)
Epochs:  75%|████████████████████▎      | 225/300 [4:54:30<1:39:11, 79.35s/it, t_loss=0.557, i_loss=0.332, i_acc=0.978]

In [ ]:
interpreter.parse("Hi I am Vincent from Amsterdam and i have 20 dollars.")

In [ ]:
# loading the nlu test samples
from rasa.nlu.test import run_evaluation

evaluation_result = run_evaluation("test.md", model_directory,  errors='errors.json', confmat='conf.png')

evaluation_result

In [ ]:
interpreter.parse("Georgia 'downs two Russian warplanes' as countries move to brink of war")