In [1]:
import pandas as pd

In [2]:
topics_train = pd.read_csv('/home/juan/Documents/Academico/Maestria/Text Minnig/Proyecto/text_mining/individual_versions/Ed/Output_files/train.csv')
topics_test = pd.read_csv('/home/juan/Documents/Academico/Maestria/Text Minnig/Proyecto/text_mining/individual_versions/Ed/Output_files/test.csv')
individual_sum = pd.read_csv('/home/juan/Documents/Academico/Maestria/Text Minnig/Proyecto/text_mining/Data/embeddings_sum_individual.zip')
individual_averages = pd.read_csv('/home/juan/Documents/Academico/Maestria/Text Minnig/Proyecto/text_mining/Data/embeddings_average_individual.zip')

In [3]:
topics_train.columns = list(topics_test)

In [4]:
topics = [topics_train, topics_test]
topics_full = pd.concat(topics, ignore_index=True)

In [5]:
RedditNews = pd.read_csv('/home/juan/Documents/Academico/Maestria/Text Minnig/Proyecto/text_mining/Data/RedditNews.csv')
combined = pd.read_csv('/home/juan/Documents/Academico/Maestria/Text Minnig/Proyecto/text_mining/Data/Combined_News_DJIA.csv')

In [6]:
RedditNews = RedditNews[RedditNews['Date'].isin(combined['Date'])]

In [7]:
## Hay error en la codificación de caracteres especiales, encontré ese, pero hay que ver que otros surgen
RedditNews['News'] = RedditNews['News'].str.replace("year.old", " year old ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("\d year", " year ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("year old", "years old", regex=True)


RedditNews['News'] = RedditNews['News'].str.replace("years.old", " years old ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("\d years", " years ", regex=True)
## Hay error en la codificación de caracteres especiales, encontré ese, pero hay que ver que otros surgen
index_review = RedditNews[(RedditNews['News'].str.startswith('b"')) |
                         (RedditNews['News'].str.startswith("b'"))].index

display(RedditNews[RedditNews['News'].str.startswith('b"')].head(),
        RedditNews[RedditNews['News'].str.startswith("b'")].head())


RedditNews['News'] = RedditNews['News'].str.replace('^b\"', " ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("^b\'", " ", regex=True)
import re
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords
stoplist = stopwords.words("english")
REPLACE_BY_SPACE_RE = re.compile('[(){}\[\]\|@,;-]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z ^#\+_]')
SEP_NUMBER = re.compile('(?<=\d)\,|\.(?=\d)')
USA_ABREV = re.compile('U\.S|u\.s\|u\.s\.a\.|US')
DOT_ABREV = re.compile('\.(?![a-zA-Z]{2})')
STARTING_B = re.compile("^\"b' |^b ")
STOPWORDS = stopwords.words('english')

def clean_text(text):
    """
        text: a string
        return: modified initial string
    """
    
    text = USA_ABREV.sub(' usa ', text) # replace U.S U.S. u.s US for usa
    text = text.lower() # lowercase text
    text = text.replace("al-qaeda", "alqaeda")
    text = text.replace("al-qa'eda", "alqaeda")
    text = text.replace('&amp;', '&')
    text = text.replace('&', '')    

    text = DOT_ABREV.sub('', text) # removes abrevetion dot, ej: L.G.B.T  = LGBT
    text = SEP_NUMBER.sub('', text) # removes . and , seprating numbers
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub(' ', text) # delete symbols which are in BAD_SYMBOLS_RE from text
    text = STARTING_B.sub('', text) # delete symbols which are in BAD_SYMBOLS_RE from text

    text = ' '.join(word for word in text.split() if word not in STOPWORDS) # delete stopwors from text
    text = text.strip()
    return text
    
RedditNews['News'] = RedditNews['News'].apply(clean_text)

             Date                                               News
54798  2010-06-30  b"South Korea's parliament votes to legalize c...
54804  2010-06-30  b"The German economy is rapidly improving, wit...
54819  2010-06-30  b"BBC News - Russian spy suspect missing in Cy...
54821  2010-06-30  b"Iraq inquiry: secret documents showing Tony ...
54822  2010-06-30  b"Apartheid loves apartheid: Israel's secret r...

             Date                                               News
54799  2010-06-30  b'Pope rebukes cardinal who exposed abuse: \nP...
54800  2010-06-30  b'This depression is similar to the Great Pani...
54801  2010-06-30  b'The Niger Delta has experienced oil spills o...
54802  2010-06-30  b'G20 Toronto - So Black Block get green light...
54803  2010-06-30  b'Half of Afghanistans 476 women prisoners wer...

In [8]:
mask = RedditNews['News'].duplicated(keep=False)
print(len(RedditNews[mask]))
RedditNews[mask].sort_values('News')

131

             Date                                               News
15303  2014-10-27  4 banks including jpmorgan fined europe cartel...
15299  2014-10-28  4 banks including jpmorgan fined europe cartel...
20850  2014-03-19  900 workers already died building qatars world...
20998  2014-03-14  900 workers already died building qatars world...
27847  2013-06-13     afghan parliament upholds right marry children
...           ...                                                ...
20311  2014-04-10                 usa troops may sent eastern europe
1652   2016-04-26  watchdog says press freedom decline new era pr...
1780   2016-04-21  watchdog says press freedom decline new era pr...
50278  2010-12-28  wikileaks swedish government hid anti terror o...
50602  2010-12-15  wikileaks swedish government hid anti terror o...

[131 rows x 2 columns]

In [9]:
algo = RedditNews.reset_index(drop = True)

In [10]:
algo.drop_duplicates(subset=['News'], keep='first', inplace=True)

In [11]:
lista = list(algo.index)

In [12]:
sum_filt = individual_sum.iloc[lista,].drop(columns=['Unnamed: 0'])
average_filt = individual_averages.iloc[lista,].drop(columns=['Unnamed: 0'])

In [13]:
names = {}
for i in range(10):
    names[str(i)] = 'topic_' + str(i)

In [14]:
topics_full = topics_full.rename(columns = names)

In [15]:
only_topics = topics_full[list(names.values())]

In [16]:
sum_filt = sum_filt.reset_index(drop = True)
only_topics = only_topics.reset_index(drop = True)

In [22]:
full_sum = pd.concat([sum_filt, only_topics] , axis = 1)

In [23]:
average_filt = average_filt.reset_index(drop = True)
full_avg = pd.concat([average_filt, only_topics] , axis = 1)

In [27]:
full_avg.to_csv('averages_topics.csv', index=False)

In [28]:
full_sum.to_csv('sum_topics.csv', index=False)