In [15]:
import pandas as pd
import numpy as np

In [2]:
RedditNews = pd.read_csv('/home/juan/Documents/Academico/Maestria/Text Minnig/Proyecto/text_mining/Data/RedditNews.csv')
combined = pd.read_csv('/home/juan/Documents/Academico/Maestria/Text Minnig/Proyecto/text_mining/Data/Combined_News_DJIA.csv')

In [3]:
RedditNews = RedditNews[RedditNews['Date'].isin(combined['Date'])]

In [4]:
## Hay error en la codificación de caracteres especiales, encontré ese, pero hay que ver que otros surgen
RedditNews['News'] = RedditNews['News'].str.replace("year.old", " year old ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("\d year", " year ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("year old", "years old", regex=True)


RedditNews['News'] = RedditNews['News'].str.replace("years.old", " years old ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("\d years", " years ", regex=True)
## Hay error en la codificación de caracteres especiales, encontré ese, pero hay que ver que otros surgen
index_review = RedditNews[(RedditNews['News'].str.startswith('b"')) |
                         (RedditNews['News'].str.startswith("b'"))].index

display(RedditNews[RedditNews['News'].str.startswith('b"')].head(),
        RedditNews[RedditNews['News'].str.startswith("b'")].head())


RedditNews['News'] = RedditNews['News'].str.replace('^b\"', " ", regex=True)
RedditNews['News'] = RedditNews['News'].str.replace("^b\'", " ", regex=True)
import re
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords
stoplist = stopwords.words("english")
REPLACE_BY_SPACE_RE = re.compile('[(){}\[\]\|@,;-]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z ^#\+_]')
SEP_NUMBER = re.compile('(?<=\d)\,|\.(?=\d)')
USA_ABREV = re.compile('U\.S|u\.s\|u\.s\.a\.|US')
DOT_ABREV = re.compile('\.(?![a-zA-Z]{2})')
STARTING_B = re.compile("^\"b' |^b ")
STOPWORDS = stopwords.words('english')

def clean_text(text):
    """
        text: a string
        return: modified initial string
    """
    
    text = USA_ABREV.sub(' usa ', text) # replace U.S U.S. u.s US for usa
    text = text.lower() # lowercase text
    text = text.replace("al-qaeda", "alqaeda")
    text = text.replace("al-qa'eda", "alqaeda")
    text = text.replace('&amp;', '&')
    text = text.replace('&', '')    

    text = DOT_ABREV.sub('', text) # removes abrevetion dot, ej: L.G.B.T  = LGBT
    text = SEP_NUMBER.sub('', text) # removes . and , seprating numbers
    text = REPLACE_BY_SPACE_RE.sub(' ', text) # replace REPLACE_BY_SPACE_RE symbols by space in text
    text = BAD_SYMBOLS_RE.sub(' ', text) # delete symbols which are in BAD_SYMBOLS_RE from text
    text = STARTING_B.sub('', text) # delete symbols which are in BAD_SYMBOLS_RE from text

    text = ' '.join(word for word in text.split() if word not in STOPWORDS) # delete stopwors from text
    text = text.strip()
    return text
    
RedditNews['News'] = RedditNews['News'].apply(clean_text)

             Date                                               News
54798  2010-06-30  b"South Korea's parliament votes to legalize c...
54804  2010-06-30  b"The German economy is rapidly improving, wit...
54819  2010-06-30  b"BBC News - Russian spy suspect missing in Cy...
54821  2010-06-30  b"Iraq inquiry: secret documents showing Tony ...
54822  2010-06-30  b"Apartheid loves apartheid: Israel's secret r...

             Date                                               News
54799  2010-06-30  b'Pope rebukes cardinal who exposed abuse: \nP...
54800  2010-06-30  b'This depression is similar to the Great Pani...
54801  2010-06-30  b'The Niger Delta has experienced oil spills o...
54802  2010-06-30  b'G20 Toronto - So Black Block get green light...
54803  2010-06-30  b'Half of Afghanistans 476 women prisoners wer...

In [5]:
RedditNews

             Date                                               News
0      2016-07-01  117 years old woman mexico city finally receiv...
1      2016-07-01      imf chief backs athens permanent olympic host
2      2016-07-01          president france says brexit donald trump
3      2016-07-01  british man must give police 24 hours notice s...
4      2016-07-01  100+ nobel laureates urge greenpeace stop oppo...
...           ...                                                ...
72078  2008-08-08  pentagon thinks attacking iran bad idea usa ne...
72079  2008-08-08      caucasus crisis georgia invades south ossetia
72080  2008-08-08           indian shoe manufactory series like work
72081  2008-08-08  visitors suffering mental illnesses banned oly...
72082  2008-08-08                       help mexico kidnapping surge

[49718 rows x 2 columns]

In [6]:
RedditNews.drop_duplicates(subset=['News'], keep='first', inplace=True)
RedditNews = RedditNews.reset_index(drop = True)
topics_sentiment = pd.read_csv('/home/juan/Documents/Academico/Maestria/Text Minnig/Proyecto/text_mining/Data/topics_sentiment.zip')

In [7]:
training_end = pd.to_datetime('2014-12-31')
RedditNews['Date'] =  pd.to_datetime(RedditNews['Date'], format='%Y-%m-%d')
num_training = len(RedditNews[(RedditNews["Date"]) <= training_end])
train_data = RedditNews.drop([ "Date"], axis=1)[:num_training]
test_data = RedditNews.drop([ 'Date'], axis=1)[num_training:]
train_data['Label'] = topics_sentiment["Label"].values[:num_training]
test_data['Label'] = topics_sentiment["Label"].values[num_training:]

In [8]:
val_data=train_data.sample(frac=0.2,random_state=200)
train_data=train_data.drop(val_data.index)

In [9]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

Using TensorFlow backend.

In [10]:
texts=train_data.News

In [11]:
texts

0        117 years old woman mexico city finally receiv...
1            imf chief backs athens permanent olympic host
2                president france says brexit donald trump
3        british man must give police 24 hours notice s...
4        100+ nobel laureates urge greenpeace stop oppo...
                               ...
40202    unidentified man become hero argentina pushed ...
40204    drug related violence rise latin america forme...
40205    knew uk government lost court appeal case judg...
40206    austrian millionaire gives away fortune made m...
40207    operation titstorm anonymous target internet c...
Name: News, Length: 32166, dtype: object

In [13]:
NUM_WORDS=20000
tokenizer = Tokenizer(num_words=NUM_WORDS,filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n\'',
                      lower=True)
tokenizer.fit_on_texts(texts)
sequences_train = tokenizer.texts_to_sequences(texts)
sequences_valid=tokenizer.texts_to_sequences(val_data.News)
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

Found 28910 unique tokens.

In [28]:
X_train = pad_sequences(sequences_train)
X_val = pad_sequences(sequences_valid,maxlen=X_train.shape[1])
y_train = to_categorical(np.asarray(train_data['Label']))
y_val = to_categorical(np.asarray(val_data['Label']))
print('Shape of X train and X validation tensor:', X_train.shape,X_val.shape)
print('Shape of label train and validation tensor:', y_train.shape,y_val.shape)

Shape of X train and X validation tensor: (32166, 38) (8042, 38)
Shape of label train and validation tensor: (32166, 2) (8042, 2)